---
// index.astro
import FixedSidebarLayout from '../layouts/FixedSidebarLayout.astro';
import "../styles/global.css";

const windowIllustrations = [
  { src: '/images/window1.png', top: '10%', left: '60%' },
  { src: '/images/window2.png', top: '30%', left: '20%' },
  { src: '/images/window3.png', top: '50%', left: '70%' },
  // Add more if you have
];
---
<FixedSidebarLayout title="Home">
  <div class="homepage">
<div class="namaste">
	<p class="namaste">Namaste</p>
</div>
  </div>
	
