---
// index.astro
import FixedSidebarLayout from '../layouts/FixedSidebarLayout.astro';

const windowIllustrations = [
  { src: '/images/window1.png', top: '10%', left: '60%' },
  { src: '/images/window2.png', top: '30%', left: '20%' },
  { src: '/images/window3.png', top: '50%', left: '70%' },
  // Add more if you have
];
---
<FixedSidebarLayout title="Home">
  <div class="homepage">
    {windowIllustrations.map((win) => (
      <img
        src={win.src}
        alt="Window Illustration"
        class="window"
        style={`top: ${win.top}; left: ${win.left};`}
      />
    ))}

    <div class="namaste">namaste</div>
  </div>
